.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 80px;
  align-items: center;
  padding: 20px;
  position: relative;
  height: 800px;
}

.back-button {
  position: absolute;
  top: 15px;
  left: 10px;
}

.chart-button {
  position: absolute;
  top: 15px;
  right: 10px;
}

.settings-button {
  position: absolute;
  top: 15px;
  right: 60px;
}

.settings-button, .back-button, .chart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.settings-button:hover, .back-button:hover, .chart-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.settings-button:active, .back-button:active, .chart-button:active {
  transform: scale(0.95);
  background-color: rgba(50, 50, 50, 0.1);
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.work-timer {
  font-size: 3rem;
  font-family: "Arial Rounded MT";
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.work-timer .work-toggle-button {
  width: 188px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FFF;
  color: #BA4949;
  opacity: 0.8;
  border: none;
  font-family: "Arial Rounded MT Bold";
  font-size: large;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.work-timer .work-toggle-button:active {
  transform: scale(0.95);
  background-color: #e05a5a;
}


.break-timer {
  font-size: 3rem;
  font-family: "Arial Rounded MT";
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.break-timer .break-toggle-button {
  width: 188px;
  height: 74px;
  flex-shrink: 0;
  color: #4973BA;
  border-radius: 30px;
  background: #fff;
  opacity: 0.8;
  border: none;
  font-family: "Arial Rounded MT Bold";
  font-size: large;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

.break-timer .break-toggle-button:active {
  transform: scale(0.95);
  background-color: #3e5b8e;
}

.settings {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 10px;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 300px;
}

.settings div {
  display: contents;
}

.settings label {
  grid-column: 1 / 2;
  font-size: 1.2rem;
  color: #FFF;
  text-align: left;
  font-weight: 500;
}

.settings input {
  grid-column: 2 / 3;
  width: 50px;
  height: 30px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #c9c9c9;
}

.settings span {
  grid-column: 3 / 4;
  font-size: 1.2rem;
  color: #FFF;
  text-align: left;
}

.settings button {
  grid-column: 1 / span 3;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  height: 50px;
}

.status {
  display: flex;
}

.great-work {
  color: #fff;
  font-family: "Arial Rounded MT";
}

.great-work h1 {
  font-size: 46px;
  margin-bottom: 50px;
}

.great-work p {
  margin-top: 50px;
  font-size: large;
}

.break-is-over {
  color: #fff;
  font-family: "Arial Rounded MT";

}

.break-is-over h1 {
  font-size: 46px;
  margin-bottom: 50px;
}
.break-is-over img {
  width: 250px;
}

.break-is-over p {
  margin-top: 50px;
  font-size: large;
}



.chart {
  height: '400px';
  width: '380px'; 
  height: 380px;
  margin: '0 auto';
  overflow-x: 'auto';
}

.tomato-icon {
  position: absolute;
  bottom: 0;
  height: 40px; /* Size of the tomato */
  animation: dropTomato 1s ease-out;
  font-size: 2rem; /* Adjust size if needed */
}

@keyframes dropTomato {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
